spring:
  application:
    name: Logistics

  profiles:
    active: local

  datasource:
    url: ${DATASOURCE_URL:jdbc:postgresql://localhost:5434/logistics}
    username: ${POSTGRES_USER:transport_user}
    password: ${POSTGRES_PASSWORD:transport_dev_password_12345}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: public
        jdbc:
          batch_size: 20

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${JWT_ISSUER_URI:http://localhost:8080/realms/logistics}
          jwk-set-uri: ${JWT_JWK_SET_URI:http://localhost:8080/realms/logistics/protocol/openid-connect/certs}
  web:
    error:
      include-message: always
      include-binding-errors: always

keycloak:
  admin:
    server-url: ${KEYCLOAK_SERVER_URL:http://localhost:8080}
    admin-realm: ${KEYCLOAK_ADMIN_REALM:master}
    client-id: ${KEYCLOAK_ADMIN_CLIENT_ID:admin-cli-client}
    client-secret: ${KEYCLOAK_ADMIN_CLIENT_SECRET:adminsecret}
    target-realm: ${KEYCLOAK_TARGET_REALM:logistics}
    connection-pool-size: 10

server:
  port: ${SERVER_PORT:8081}

logging:
  level:
    root: INFO
    com.transport.platform: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when-authorized

springdoc:
  swagger-ui:
    oauth:
      client-id: logistics-frontend
      # PKCE is mandatory for public clients in 2026
      use-pkce-with-authorization-code-grant: true
    # Use the absolute URL that matches your Keycloak whitelist exactly
    oauth2-redirect-url: http://localhost:8081/swagger-ui/oauth2-redirect.html
